<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Login page</title>
    <link th:href="@{/public/dark-style.css}" rel="stylesheet"/>
    <!--<link rel="stylesheet" href="../static/public/dark-style.css">-->
</head>
<body>
<nav id="nav-bar">
    <h1>
        <a href="/">
            Drink tracker
        </a>
    </h1>
</nav>
<form class="basic-form" th:action="@{/login}" method="post" autocomplete="off">
    <div class="container">
        <h1 id="form-title">Login page</h1>
        <label class="hidden" for="username">Username</label>
        <input class="input" type="text" id="username" name="username" placeholder="username" autofocus/>
        <label class="hidden" for="password">Password</label>
        <input class="input" type="password" id="password" name="password" placeholder="password"/>
        <div id="buttons">
            <input class="submit" id="submit" type="submit" value="Log in" />
            <input type="button" class="submit" onclick="location.href='/public/sign';" value="Sign up" />
        </div>
        <p class="error" th:text="${message}"/>
    </div>
</form>
</body>
</html>